.sidebar {
    box-sizing: border-box;
    display: flex;
    box-shadow: 2px 0px 5px 1px rgb(233, 233, 233);
    // flex-direction: row;
    flex-direction: column;
    // height: 100vh;
    width: 150px;
    border: 1px sold black;
    .nav {
        height: 80%;
        width: 130px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}