.nav {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-bottom: thin solid gold;
    // border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: gold;
        color: white;
        font-weight: bold;
    }
    &:active {
        background-color: rgb(194, 165, 0);
        color: white;
        font-weight: bold;
    }
}